.container {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: lightskyblue;
    height: 200px;
}

#logotitolo {
    max-width: 300px;
    margin-left: 0;
    margin-top: 70px;
}

.sottotitolo {
    color:grey
}

#descrizionefoto {
    font-size: 0.8rem;
}

#titolofooter {
    color: grey;
}

#immaginefooter1 {
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
}

#immaginefooter2 {
    background-image: url("../img/graph.jpg");
    background-size: contain;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.5rem;
}

